@import "../resources/UI/menu-bar.css";
@import "../resources/UI/btn-container.css";

.left-container {
    background-color: #141414FF;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-bottom: 32px;
    overflow: scroll;
}

.right-container
{
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: flex;
}

.visible {
    height: 100%;
    width: 100%;
    visibility: visible;
}

.hidden {
    height: 0px;
    width: 0px;
    visibility: hidden;
}


.tab {
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
}

.section-title {
	 margin-bottom: 8px;
}

.btn-primary {
    background-color: #44CC44FF;
}

.btn-secondary {
	border-color: #555555FF;
	background-color: #000000FF;
	border-size: 2px;
	margin-left: 8px;
}

.tab {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}


.root {
    width: 100%;
    height: 100%;
}

.nuakeUIText {
    font-size: 72px;
}

.main {
    flex-direction: row;
    display: flex;
    width:100%;
    height: 100%;
}

.welcome-wrapper{
    width:100%;
    height:100%;
    justify-content: flex-start;
    align-items: center;
}

.round {
    background-color: #111111ff;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
	width: 100%;
	margin-bottom: 8px;
}

.split-buttons {
    flex-direction: row;
}

.bigText {
    font-size: 100px;
}




.container {
    background-color: #FF0000;
    width: 100%;
    flex-direction: row;
    overflow: scroll;
}


.regular {
    font-size: 40px;
}

.jumbotron {
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #00ff04;
}

.row {
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-size: 150px;
    text-align: left;
    width:200px;
}




