.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #222222ff;
    z-index: 10;
}

.context-menu {
    margin-top: 2px;
    position: absolute;
    top: 42;
    left: 52;
    background-color: #222222FF;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-size: 1px;
    border-color: #333333FF;
}

.menu-btn {
    background-color: #00000000;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.menu-btn:hover {
    background-color: #444444ff;
}

.menu-btn-lbl {
    font-size: 26px;
}

.context-btn {
    background-color: #44444400;
    width: 200px;
    align-items: center;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.context-btn:hover {
   background-color: #194176FF;
}

.context-btn-lbl {
    font-size: 24px;
}

#logo {

    width: 22px;
    height: 22px;
    background-color: #FFFFFFFF;
    background-image: "../icons/blendicons/seq_chroma_scope.svg";
}

.icon {
    width: 20px;
    height: 20px;
}

.edit-icon {
    background-image: "../icons/blendicons/greasepencil.svg";
}

.menu-icon {
    background-image: "../icons/blendicons/file.svg";
}

.menu-reload {
    background-image: "../icons/blendicons/file_refresh.svg"
}