.main {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-container {
    width: 25%;
    min-width: 1000px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: #00ee28;
    border-color: #0000FF;
    border-radius: 16px;
    border-size: 8px;
}

#welcome {
    border-size: 3px;
    border-color: #0000FF;
}

#main-btn {
    margin-top: 8px;
    background-color: #00ee28;
    border-color:   #D4F1FFFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-size: 2px;
    border-radius: 32px;
}

.hidden {
    width: 0px;
    height: 0px;
}

#main-btn:hover {
    background-color: #00A2EEFF;
    border-size: 4px;
}

.activated {
    background-color: #0063FFFF;
    border-size: 2px;
}

#main-btn:active {
    background-color: #0063FFFF;
    border-size: 2px;
}

.btn-label {
    width: 100%;
    text-align: center;
}