out/
build/
.vs/
CMakeFiles/
NuakeUIDemo.dir/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
cmake_install.cmake
CMakeCache.txt
imgui.ini
INSTALL.vcxproj
INSTALL.vcxproj.filters
NuakeUIDemo.sln
NuakeUIDemo.vcxproj
NuakeUIDemo.vcxproj.filters
NuakeUIDemo.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
resources/test.scss
src/cmake_install.cmake
src/imgui.ini
src/INSTALL.vcxproj
src/INSTALL.vcxproj.filters
src/NuakeUIDemo.vcxproj
src/NuakeUIDemo.vcxproj.filters
src/NuakeUIDemo.vcxproj.user
src/Debug/NuakeUIDemo.exe
src/Debug/NuakeUIDemo.pdb
x64/Debug/ALL_BUILD/ALL_BUILD.log
x64/Debug/ALL_BUILD/ALL_BUILD.recipe
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.log
x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
